
{% extends "base.html" %}
{% load static %}
{% block title %}Log-in {% endblock title %}

{% block content %}
<div class="container">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v14.0&appId=810115799892623&autoLogAppEvents=1" nonce="ZQl7gT5l">
</script>
    <div class="kpx_login">
        <h3 class="kpx_authTitle">Entra Con Facebook , Google </h3>
        <div class="row kpx_row-sm-offset-4 kpx_socialButtons">
          <div class="col-xs-2 offset-sm-4 col-sm-2 social">




            <a href="{% url 'social:begin' 'facebook' %}" class="facebook btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fab fa-facebook fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <!--div class="col-xs-2 col-sm-2">
            <a href="#" class="twitter btn btn-lg btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fab fa-twitter fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div-->
          <div class="col-xs-2 col-sm-2">
            <a href="#" class="google btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
              <i class="fab fa-google fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
    </div><br>


		<div class="row kpx_row-sm-offset-3 kpx_loginOr">
			<div class="col-xs-12 offset-sm-3 col-sm-6" style="margin-bottom:5%;">
				<!--hr class="kpx_hrOr"-->
				<span class="kpx_spanOr">Inserisci User E Passsword o
          <a id="a_reg"><span style="color:green;">Registrati</span></a></span>
			</div>
		</div>

		<div class="row kpx_row-sm-offset-3">
			<div class="col-xs-12 offset-sm-3 col-sm-6">
			    <form id="formlogin" class="kpx_loginForm" autocomplete="off" method="POST"> <!--action="{% url 'login' %}"-->
              {% csrf_token %}
					<div class="input-group">
						<span class="input-group-addon"><span class="fas fa-user"></span></span>
            <label for="{{ form.username.id_for_label }}"></label>
            <input type="input" class="form-control" name="username" id="inputUsername" placeholder="Username" required >
            <!--input id="next" type="hidden" name="next" value=""-->
        {{ form.username.errors }}
					</div>
                    <hr />

					<div class="input-group">
						<span class="input-group-addon"><span class="fa fa-key"></span></span>
            <input type="password" class="form-control" name="password" id="inputEmail" placeholder="Password" required >
    {{form.password.errors }}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
              <br><br><ul class="form-errors">
              <li style="display:block;color:red;"><mark style="color:red;">{{error}}</mark></li></ul>
{% endfor%}
{% endif %}
					</div>

                    <hr />
					<button id="id_login" class="btn btn-lg btn-outline-primary btn-block" type="submit"><i class="fad fas-sign-in"></i> Login</button>
				</form>

<script>
            $(document).ready(function(){
              const params = new URLSearchParams(window.location.search);
              var valuenext=params.get('next');
              var login="{{ request.user.is_authenticated }}"
              $('[data-toggle="tooltip"]').tooltip()
              var r=document.getElementById("a_reg");
              var pf=document.getElementById("a_passwordforget");
              var pc=document.getElementById("a_changepassword");
              r.href="/user/register/blog?next="+params.get('next');
              pc.href="{% url 'change_password' %}?next="+params.get('next');
              pf.href="{% url 'password_reset' %}?next="+params.get('next');
              var fs= document.getElementById("formlogin");
              if (valuenext){
                localStorage.setItem("next",valuenext);
                next=localStorage.getItem("next")
                console.log("valuenext not empty : "+next)
                }
                else{
                  next=localStorage.getItem("next")
                  window.location.href=window.location.href+"?next="+next
                  console.log(next)
              }
            });
          </script>
			</div>
    	</div>
		<div class="row kpx_row-sm-offset-3">
			<div class="col-xs-12 offset-sm-3 col-sm-3">
            <p></p>
				<label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" value="remember-me">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Ricordami !</span>
                        </label>


			</div>
			<div class="col-xs-12 col-sm-3">
				<p class="kpx_forgotPwd">
					<small><a id="a_passwordforget">Password Dimenticata ?</a></small>
				</p>
        <p class="kpx_forgotPwd">
					<small><a id="a_changepassword">Vuoi Cambiare Password ?</a></small>
				</p>
			</div>
		</div>
	</div>




        </div>
        <script>
$(document).ready(function(){

})
</script>
{% endblock content %}
