@font-face {
    font-family: 'roboto';
    src: url('../webfonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'orbitron';
    src: url('../webfonts/Orbitron-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'dancingscript';
    src: url('../webfonts/DancingScript-Bold.ttf') ;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../webfonts/WorkSans-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'baloo';
    src: url('../webfonts/Baloo2-ExtraBold.ttf') ;
}
@font-face {
    font-family: 'carterone';
    src: url('../webfonts/CarterOne-Regular.ttf') ;
}
@font-face {
    font-family: 'Assistant-regular';
    src: url('../webfonts/Assistant-Regular.ttf') ;
}
@font-face {
    font-family: 'sharetechmonoregular';
    src: url('../webfonts/ShareTechMono-Regular.ttf') ;
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../webfonts/Montserrat/Montserrat-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'montserrat-extra-bold';
    src: url('../webfonts/Montserrat-ExtraBold.ttf') ;
}
@font-face {
    font-family: 'montserrat-bold';
    src: url('../webfonts/Montserrat-Bold.ttf') ;
}
@font-face {
    font-family: 'comfortaa';
    src: url('../webfonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'encodesans';
    src: url('../webfonts/Encode_Sans_SC/EncodeSansSC-VariableFont_wdth,wght.ttf') ;
}
@font-face {
    font-family: 'openSans';
    src: url('../webfonts/OpenSans-VariableFont_wdth,wght.ttf') ;
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('../webfonts/UbuntuMono-Regular.ttf') ;
}
@font-face {
    font-family: 'noto-mono';
    src: url('../webfonts/NotoSansMono-VariableFont_wdth,wght.ttf') ;
}
@font-face {
    font-family: 'raleway';
    src: url('../webfonts/Raleway/Raleway-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'josefinsans';
    src: url('../webfonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') ;
}
@font-face {
    font-family: 'quicksand';
    src: url('../webfonts/Quicksand/Quicksand-VariableFont_wght.ttf') ;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'montserrat-regular';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    max-width:100%;
    min-height:100vh;
}

#divbooldog{
    display:none;
}

h2,h3{font-family: '';
      margin-bottom: 40px;}

#divuserphoto,#divtitletutorial{
    width: auto;
    margin: 0 auto;
    padding:0;
}

#s_title, #s_title_2 {
    font-family:'montserrat-bold';
    -webkit-font-smoothing: antialiased;
}
button{
    font-family: 'montserrat-extra-bold'!important;
}
.fa-book{
    color:grey!important;
}

#d_divaside.d_divaside{
    z-index:2;
}

body {
    font-family: "roboto", "openSans", "sans-serif";
    min-height:100%;
    font-family:'WorkSans','Assistant-regular';
    font-size:20px;
    background-color:white;
    box-sizing:content-box;
}

#ulTopMenu{
 width:100%;
}
.liTopMenu{
    min-width:calc(100% / 6) !important;
}

article{
    min-height:50vh;
}

.s_title {
    display:block;
    margin-left:20%;
    margin-top: -9%;
}

div#divuserphoto > a#aTitle{
    margin-left:13px;
    max-width: 100%;
}

pre{background-color: #D2FFFC;overflow-y: hidden;overflow-x: hidden;border-radius: 2px;/* border:1px solid grey; */}

.divcode{
    /* text-align: left; */
    /* font-family: noto-mono; */
    background: #00baff;
    max-width: 100%;
    padding:5px;
}
code.baseStyle{
    display:block;
    max-width: 100%;
    text-align:left;
    background-color: #000000;
    color: #ffffff;
    border: 20px solid #000000;
    font-family: "noto-mono";
    font-size: 1rem;
    font-weight: 800;
}


span.bg-light{
    color: #000000;
    font-family: montserratextrabold;
    margin-left: -2%;
    text-align: left;
}
/* button commenti */
#multiarea{
    margin:0px;
    padding:0px;
}

li.liTopMenu{
    font-family: 'montserrat-extra-bold';
    text-align: center;
}
li.pageMenu{
    font-family: 'montserrat';
    color:#1EAEDB;
    font-size:1rem;
    padding:1%!important;
    padding-left:17%;
    border:none;
}



li.pageMenu span{
    font-size:0.9em;
}

li.pageMenu a{
    color:#1EAEDB;
}

.row_title_content{
    display:inline;
}
.row_title_content>span.badge.bg-light{font-family:montserrat;font-size:1.5rem;text-align: left;color: grey;}

li.pageMenu>a:hover{
background-color:grey;
color:white;
}

li.pageMenu:hover{
background-color:grey;
color:white;
}

.badgebooldog {
    background-color: #00ff00;
    color:#660033;;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

a.nav-link ,a#a_download , #aTitle{text-decoration:none!important;margin-left: 15px;}
 li{
     list-style: none;
 }

p {
     font-family: "quicksand";
     font-weight: 100;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-align: left;
     color: #000000;
     margin:10px;
     margin-top: 10px;
     margin-bottom: 10px;
}

p.lead {}

p.lead {
    margin-left: 20%;
}

textarea{
    /* font-size: 1rem; */
    line-height:1;
    outline:none;
    padding:5%;
    color:grey;
}

li:hover{
    cursor:pointer;
}

#col-header{
    margin-top:3%;
}

[id^='option_autori'],[id^='tutorial_id']{
    width:50%;
    max-widtH:80%;
    font-size:10px;
}

#s_nome_autore{
    display:inline-block;
    margin: 0 auto;
    font-size: 1.1rem;
    /* font-weight:bold; */
    opacity:0.5;
}

progress#progressbar{
    position:fixed;
    width:100%;
    top:-8px;
    height:30px;;
    margin:0 auto 0 0;
    z-index:99;

}

header{
    width:100%;
    max-width:100%;
    background-color:white;
}

#collapsibleNavbar{
        /*width:100%!important;*/
}

#header_menu{
    margin-left:auto;
    width:auto;
}

a ,a > span {
    /* border:
    none; */
    /* color:blue; */
}


#span_title_w,#span_title_2{
    font-family: montserrat-extra-bold;
    color: #585050;
    /* margin-right:5px; */
    /* font-weight: 900; */
}


#c_aside{
    margin-top:3%;
    height: auto;
}

.zindex{
    z-index:-999!important;
}

#span_autore{
    display:block!important;
    font-size:1rem!important;
}
#label_autore{
    opacity:0.8;
    display:block!important;
    margin:10px auto ! important;
}
#d_aside_tutorial{
    box-sizing:content-box;
}

#d_tutorial_section{
    display:none;
    box-sizing: content-box;
    position:relative;
    width:auto;
    max-width:100%!important;
}

#d_inside_tutorial_section{
    position:relative;
    left:-700px;
    color:black;
}

.select_autori,#selectFormTutorials,#ul_in_selecFormAutori{
    /*border:2px solid orange;*/
    width:100%!important;
    max-width:100%!important;
}
#selecFormAutori{
    width:auto;
}



#d-approfondimenti{
    margin-top:-5%!important;
    margin-left:auto!important;
    margin-bottom:5%!important;
}
#a_download{
    display:block;
    /* text-align: center; */
    margin-top: 20px!important;
}
#s_download{
    font-family: 'Carter_One';
    font-size: 1em;
    font-weight:normal;
    font-style:normal;
    color:white;
    position:relative;
    width:100%!important;
}

#h_title2 {
    margin-top:1%;
}



#t_header{
    background-color: white;
    color:orange;
}
[id^="a-"].liTopMenu{
    text-align: center;
    width:auto!important;
    border:0px solid!important;
    background-color: transparent!important;
    color:
    blue!important;
    }




li[id^="a-"]:hover{
    cursor:pointer!important;
    color: black!important;

}

.blog_title,#blog_title{
    width:auto!important;
    margin-top:5%!important;
    margin-bottom:3%;
}


#col_content{
    background-color: white;
}

.fa-circle{
    margin-top:0%!important;
    color:orange;
    font-size:2rem!important;
}


li #s_center_menu{
    font-size: 0.5em;
}

#col_aside{
    display:block;
}

#asidebar{
    display:block;
    max-width:20%;
    margin:0;
}

#asidebar .fa-angle-right{
    font-size:7rem!important;
    color:green!important;
}
#logo{
    display:block!important;
}

#button_bars:hover{
    opacity:0.5;
}
#right-menu{
    display:none!important;
}
#center-menu{
    display:none!important;
}
#nav_span_menu{
    font-size:6vw;
}
[id^=s_leftmenu]{
    font-size:0.7rem;
    color:white;
}
#topnav{
    display:none;
}
#s_title{
    font-family: 'montserrat-regular';
    /* margin: 0 auto; */
}

.s_title_paragraph{
    color:#4868af;
    font-size: 1.3rem;
    margin:5px;
    margin-left: 2px;
}
table{
    border:3px solid orange;
}
thead{
    border-top:2px solid orange;
}
th{
    border-bottom: 2px solid grey;
}

td{
    font-size:0.6rem!important;
    border:1px solid orange!important;
    border-left:0px!important;
    border-right:0px!important;
}
td:hover{
    background-color:orange!important;
}
iframe:hover{
    opacity:0.7;
}
#x_code{
    border-radius: 10px;
    background-color: whitesmoke;
    color:grey!important;
    font-weight:bold;
}

[id^="a_html"]{
    border:2px solid #007bff;
}
[id^="a_tutorial"]{
    width:
    auto!important;
    background-color: black!important;
    color:white!important;
    border-color: whitesmoke;
}
[id^="a_tutorial"]:hover{
    background-color:orange!important;
    color:black!important;
}

a:hover {
    cursor:pointer;
}


.d_divaside{
    display:
    none;
    position:
    absolute;
    /* width:100%; */
    padding:0;
    margin:0;
    /* left:0%; */
    /* color:
    white; */
    left:-700px;
    height:
    auto;
}
#d_in_divaside{
    width:
    inherit;
    /*left:0%;*/
    /* color:white; */
    height:
    inherit;
}




#d_htmlmenu{
    display:none;
    background-color:whitesmoke;
    color:orange;
    margin-left:10%;
    margin-top:0%;
    padding:5%;
    width:100%;
}
#d_django_menu{
    display:none;
    background-color:whitesmoke;
    color:orange;
    margin-left:10%;
    margin-top:0%;
    padding:5%;
    width:100%;
}
#d_linux_menu{
    display:none;
    background-color:whitesmoke;
    color:orange;
    margin-left:10%;
    margin-top:0%;
    padding:5%;
    width:100%;
}
#s_left_tutorial{
    color:white!important; font-size:1vw;
}
#nav_span_menu{
    color:orange;
    font-size:3.5vw;
}
#u_registration{
    margin:0 0 auto auto;
}



.ul_wrap{
    margin-left:35%;
    margin-top:-5%;
}

.ul_right{
margin-right:0;
float:right!important;
}

#d_compile > #s_compile{
    font-size:1.5rem!important;
    color:white;
}

@media screen and (max-width: 1024px) {
    span.bg-light{
        font-size: 0.8em;
    }
    code.baseStyle{
        font-size:0.7em;
    }
    .list-group>.list-group-item>a{
        font-size: 0.8rem;
    }

    li.pageMenu span {
     font-size: 0.6em;
    }
    p{
        font-size:0.8rem;
    }
    #h_title2 {
        display:none;
    }
    #span_title_W{
        size:0.6em;
    }
    #d_photo_author{
        margin-top:-3%;
    }
    #s_nome_autore{
        position:relative!important;
        /*width:inherit;*/
        display:inline-block!important;
    }
}
/* FINE HEADER SECTION */

@media screen and (max-width: 800px) {
    #imguser{
        margin:0 auto;
        min-width:25px;
        max-width:45px;
    }

    .fa-comment-dots {
        font-size: 1.2rem;
    }

    .spanbooldog{
        font-size: 0.8rem;
    }
    .s_title {
    font-size: 0.4rem;
    }
    #spanEntra,#spanTutorial,#spanRegistrati,#spanEsci{
        font-size:0.6em;
    }
    [id^=spanMenu]{
        font-size:0.6em;
    }
    [id^=s_leftmenu]{
        font-size:0.6rem;
        color:white;
    }
    #a_download{
        /* font-size: 8px; */
        /* display:block; */
        /* text-align: center; */
    }

    .s_title_paragraph {
        font-size:1rem!important;
    }

    /*[id$=menu]{
    width:200%!important;
    }*/
}

@media screen and (max-width: 480px) {
    #s_title_2{
        max-width:60%;
        word-wrap: break-word;
    }
    .list-group>.list-group-item>a {
        font-size: 3px;
    }
    td{
        font-size:0.7rem;
    }

    tr{
        font-size:0.8rem!important;
    }
    [id^='s_leftmenu']{
        font-size:0.5rem;

    }

    #selecFormAutori,#ul_in_selecFormAutori{
        width:80%!important;
        margin:0!important;;
    }

    [id^='option_autori'],[id^='tutorial_id']{
        width:auto;
        font-size:10px;
    }

    .ul_wrap_1{
        display:none;
    }

    #badge_lsmod_1,#badge_lsmod_2{
        text-align:center!important;
        color:blue;
        margin:0 auto!important;
    }

    #img_user{
        display:none;
    }
    #d_user{
        display:none;
    }

    #d_photo_author{
        display:none;
    }
    #s_title,#span_title_w{
        font-size:0.8rem;
    }
    #s_title_2{
        font-size: 0.8rem;
        width:auto;
        max-width:60%;
    }

    #d_head > h4 {
        margin-top:20px;
        font-size: 0.6rem;
    }
    #asidebar .fa-angle-right{
        font-size:1.4rem!important;
    }
    #span_autore{
        font-size:0.4rem!important;
    }
    #select_autori{
        font-size:5pt;
    }

    .s_title_paragraph {
        font-size:0.7rem!important;
    }

    #s_nome_autore{
        font-size: 0.05rem!important;
    }

    .s_unzip{
        font-size:0.2rem!important;
    }

    #span_title{
        font-size:0.5rem;
    }
    #span_title_2{
        font-size:0.5rem;
    }

    #span_title_w{
        font-size:0.5rem;
    }
    .fa-circle{
        font-size:1rem!important;
    }
    #esci, #registrati, #entra{
        font-size:0.7rem!important;
    }
    #d_approfondimenti{
        display:none;
    }
    li #s_center_menu{
        font-size:0.5rem!important;
    }
    .fa-comments,#s_blog{
        font-size:0.5rem;
    }
    #code_ubuntu_e_derivate, #code_fedora_e_derivate,#yum_group_install{
        font-size:0.6rem;
    }
    code#apt_install_build{
        font-size:0.5rem;
    }
    .terminal{
        margin-bottom:20px!important;
        font-size:0.4rem;
    }
}

@media screen and (min-width: 480px) {



    #span_title{
        font-size:1rem;
    }
    #span_title_2{
    font-size:1rem;
    }

    #s_title{
        font-size:0.6rem;
    }
    #s_title_2,#span_title_w{
        font-size: 0.8rem;
    }
    #asidebar .fa-angle-right{
        font-size:1.5rem!important;
    }
    #circle {
        -webkit-transform: scale(0.5,0.5);
    }

    #center-menu{
        display:none!important;
    }
    #logo{
        display:block!important;
    }
    #right-menu{
        display:none!important;
    }
    #nav_span_menu{
        color:orange;
        font-size:1.3vw;
    }


    #d_head > h4{
        font-size:0.6rem!important;
        margin-bottom:1rem!important;
    }
    #s_footer{
        font-size:2vw;
    }
    .s_title{
        font-size:0.5rem!important;
    }
    .fa-comments,#s_blog{
        font-size:0.7rem;
    }
}

@media screen and (min-width: 600px) {

    li #s_center_menu{
        font-size:0.8rem!important;
    }
    #asidebar{
        display:block;
    }
    #asidebar .fa-angle-right{
        font-size:2.4rem!important;
    }
    #h-logo{
        font-size:3vw!important;
    }

    .fa-book{
        font-size:3vw;
        margin-top:5%;
    }
    #circle {
        -webkit-transform: scale(0.5,0.5);
    }
    #center-menu{
        display:block!important;
    }
    #logo{
        display:block!important;
    }
    #d_user{

    }
    .fa-comments,#s_blog{
        font-size:1.2rem;
    }
    #s_footer{
        font-size:1.3vw;
    }
}
@media screen and (min-width: 768px) {
    #imguser{
        margin:0 auto;
        min-width:25px;
        max-width:45px;
    }

    #divbooldog{
        display: inline-block;
    }

    #header_menu{
        margin:0 auto;
        width:auto;
    }
    li #s_center_menu{
        font-size:0.7rem!important;
    }

    #s_title,#s_title_2{
        font-size: 0.8rem;
    }

    #span_title{
        font-size:1.6rem;
    }

    #span_title_2,#span_title_w{
        font-size: 1.2rem;
    }


    #esci, #registrati, #entra{
        font-size:0.8rem!important;
    }
    #asidebar{
        display:block;
    }

    .s_title_paragraph{
        font-size: 1.2rem;
    }

    .fa-comments{
        font-size:1.4rem;
    }
    #logo{
        display:block!important;
    }

    #s_footer{
        font-size:1vw;
    }
    .fa-comments,#s_blog{
        font-size:1.2rem;
    }
}
@media screen and (min-width: 1024px) {
    code.baseStyle.html{
        font-size:0.6em;
    }
    span.bg-light{
        font-size: 1em;
    }
    p{
        font-size: 0.9rem;
        width: auto;
    }
    li #s_center_menu{
        font-size:1.3rem!important;
    }

    #span_title{
        font-size:1.2rem;
    }
    #span_title_2{
        font-size: 1.4rem;
    }

    #span_title_w{
        font-size:1.2rem;
    }
    #esci, #registrati, #entra{
        font-size:0.7rem!important;
    }
    td{
        font-size:1.3rem;
    }
    tr{
        font-size:1rem!important;
    }
    code{
        font-size:1rem;
    }
    #asidebar .fa-angle-right{
        font-size:4.4rem!important;
    }
    #asidebar{
        font-size:2vw;
        display:block;
    }
    #d_user{
        display:inline-block;

    }

    #s_title,#s_title_2{
        font-size:1rem;
    }

    #d_head > h4{
        font-size:1.2rem!important;
    }
    .fa-book{
        font-size:2vw;

        margin-top:5%;
    }


    #s_footer{
        font-size:0.9vw;
    }
}

@media screen and (min-width: 1200px) {
    p{
        font-size:1.1em;
    }

    code.baseStyle.html{
        font-size: 0.7em;
    }
    li #s_center_menu{
        /* font-size:1rem!important; */
    }
    #s_title,#s_title_2{
        font-size: 1.3rem;
    }
    .s_title{
    margin-left: 13%;
    margin-top: -6%;
    display: block;
    }
    #span_title{
        font-size:2.2rem;
    }
    #span_title_2{
        font-style: normal;
        /* color: black; */
        font-size: 1.7rem;
    }
    #s_nome_autore{
        font-size: 1.1rem!important;
    }

    #span_title_w{
        font-weight:bold;
        font-size: 1.6rem;
    }

    #asidebar{
        display:block;
    }

    .fa-comments,#s_blog{
        font-size:1.6rem;
    }
    [id^=s_leftmenu]{
        font-size:1rem;
        color:white;
    }
}



@media screen and (min-width: 1500px) {
    h3, .h3 {
    font-size: 1.5em;
    font-family: montserratextrabold;
    }
    p{
        font-size: 1em;
    }

p.lead {
    font-size: 2rem;
}
    li #s_center_menu{
        /* font-size:1rem!important; */
    }

    .s_title{
        font-family:ShareTechMono-Regular;
        font-size: 0.7rem;
        display:inline-block;
        opacity:0.5;
    }
    #s_title, #s_title_2 {
        font-size: 1.7rem;
    }
    #h_title2{
        margin-left:10%!important;
    }
    span#s_nome_autore{
        font-size:0.5rem;
        color: #adb5bd;
    }
    #asidebar{
        display:block;
    }

    .fa-comments , #s_blog{
        font-size:1.7rem;
    }

}
