{%load static%}
<footer id="footer" class="footer">
<div class="row" style="margin:0!important;padding:0!important;">
  <div class="col-12 col-sm-8 col-md-4 col-lg-3" style="padding:2%;">
  <div>
    <img  class=" iconDetails" src="{%static "/images/mestesso.jpg"%}"
    alt="non posso caricare immaggini">
  </div>
  <div class="d_breakingweb_fonts">

    <dl>
        <dt class="badge badge-info">{{request.get_host}}</dt>
        <dd><address><a href="mailto:spaceissimo@gmail.com">Mario Spanò</a></address></dd>
      </dl>
  </div>
</div>
  <div class="col-sm-4 col-md-8 col-lg-9"style="margin:0!important;padding:0!important;">

  </div>
</div>
<div class="row" style="margin:0!important;padding:0!important;">
  <div class="col-12 col-md-12 col-lg-12 text-center" >
     <small id="small_text_license">Tutti i contenuti sono prottetti dalla licenza creative commons</small>
  </div>
</div>
</footer>
