
{%block header%}
<header>
    <div  class="container-fluid" >
        <div class="row mt-3">


            <div class="offset-md-1 col-md-7">



                    <nav class="navbar navbar-expand-sm bg-white navbar-white">
                        <a id="a_logo" class="navbar-brand" href="#"><span  id="span_title">&nbsp..</span>
                        <span  id="span_title_2">Breaking</span>
                        <span  id="span_title_w">Web</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse text-center navbar-collapse" id="collapsibleNavbar">
                            <ul  class="ul_wrap_1 ul_wrap list-group list-group-horizontal" >
                                {% for c in categorie %}
                                <li  id="a-{{c.title}}"  class="list-group-item"  aria-pressed="true" >
                                    <span id="s_center_menu"><b>{{c.title}}</b></span>
                                    <span class="sr-only">(current)</span>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </nav>


            </div>



            <!--button id="button_bars"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:orange;"></i></span>
        </button-->
        <div  class="col-md-4 mt-1">
            <nav class="navbar ul_right navbar-expand-sm bg-white navbar-dark">
            <ul  class="ul_right navbar-nav">
              {% if login %}
              <li class="nav-item" >
                <a class="nav-link" href="/user/logout">
                  <span id="esci"><b>Crea Un Tutorial</b></span>
                </a>
              </li>
              <li class="nav-item" >
                <a id="id_esci" class="nav-link">
                  <span id="esci"><b>Esci</b></span>
                </a>
              </li>
              {%else%}
              <li class="nav-item" style="text-align:right;">
                <a id="id_reg"  class="nav-link" >
                  <span id="registrati"><b>Registrati</b></span>
                </a>
              </li>
              <li class="nav-item" style="float:right!important;">
                <a id="id_login" class="nav-link" >
                  <span id="entra"><b>Entra</b></span>
                </a>
              </li>
              {%endif%}
            </ul>
            </nav>
        </div>

    </div>
</div>
</header>
{%endblock header%}
<script>$(document).ready(function(){
    $('#id_login').click(function(){
        document.getElementById('id_login').setAttribute("href","/user/login?next="+window.location)
    })
    $('#id_reg').click(function(){
        document.getElementById('id_reg').setAttribute("href","/user/register?next="+window.location)
    })
    $('#id_esci').click(function(){
        document.getElementById('id_esci').setAttribute("href","/user/logout?next="+window.location)
    })
})</script>
