

{%block header%}
<header>
    <div  class="container-fluid" >
        <div class="row mt-3">


            <div class="col-4 text-center">
                <a id="a_logo" class="navbar-brand" href="#">
                    <span  id="span_title">&nbsp..
                    </span>
                    <span  id="span_title_2">Breaking</span>
                    <span  id="span_title_w">Web</span>
                </a>
                </div>
                <div class=" col-5 mr-auto" align="right">

                            <ul id="ulTopMenu" class="ml-auto list-group list-group-horizontal" >
                                {% for c in categorie %}
                                <li  id="a-{{c.title}}"  class="list-group-item liTopMenu"  aria-pressed="true" >
                                    <span id="spanMenu_{{c.title}}"><b>{{c.title}}</b></span>
                                    <span class="sr-only"></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>






                <!--button id="button_bars"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:orange;"></i></span>
            </button-->
            <div  class="col-3 mt-1 text-end">
                <div>
                    <ul class="list-group">
                        {% if login %}
                        <li id="liTutorial" class="nav-item" style="text-align:right;" >
                            <a class="nav-link" id="aTutorial" href="newpage">
                                <span id="spanTutorial">
                                    <b>Crea Un Tutorial</b>
                                </span>
                            </a>
                        </li>
                        <li id="liEsci"class="nav-item" style="text-align:right;">
                            <a id="aEsci" class="nav-link">
                                <span id="spanEsci"><b>Esci</b></span>
                            </a>
                        </li>
                        {%else%}
                        <li class="nav-item" id="liRegistrati" style="text-align:right;">
                            <a id="aRegistrati"  class="nav-link" >
                                <span id="spanRegistrati"><b>Registrati</b></span>
                            </a>
                        </li>
                        <li class="nav-item" style="float:right!important;">
                            <a id="aEntra" class="nav-link" >
                                <span id="spanEntra"><b>Entra</b></span>
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>

<script>$(document).ready(function(){
    $('#aEntra').click(function(){
        document.getElementById('aEntra').setAttribute("href","/user/login?next="+window.location)
    })
    $('#aRegistrati').click(function(){
        document.getElementById('aRegistrati').setAttribute("href","/user/register?next="+window.location)
    })
    $('#aEsci').click(function(){
        document.getElementById('aEsci').setAttribute("href","/user/logout?next="+window.location)
    })
    $('#aTutorial').click(function(){
        document.getElementById('aTutorial').setAttribute("href","newpage?next="+window.location)
    })
})</script>
{%endblock header%}
