{% load static %}
<!DOCTYPE html>
<html id="page" >

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="author" content="silverania">
    <meta name="keywords" content="{%block keywords%}{%endblock keywords%}">
    <meta name="description" content="{%block description%}{%endblock description%}">
    {% block anteprima %}{% endblock %}
    <title>{{tutorial.title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "css/homepage.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="stylesheet" href="https://127.0.0.1:8000/static/css/blog.css">
    <script  src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <script  src="{% static 'node_modules/@popperjs/core/dist/umd/popper.js' %}"></script>
    <script  src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script  src="{% static 'js/aside.js' %}"></script>
    <script  src="{% static 'js/progressbar.js' %}"></script>
    <script src="{% static 'js/style.js' %}"></script>
    <!--script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1430448184465088"
    crossorigin="anonymous"></script-->

    {% block otherscripts %} {% endblock %}
</head>

<body   onscroll="var h=document.body.scrollHeight;getPosition();">
    <div class="container-fluid " id="container_page" >
        <div class="row ">
            <progress  value="0" max="100" disabled id="progressbar"></progress>
        </div>
    </div>

    {% block header %}
    {% include '_header.html'%}
    {% endblock header %}
    <div id="c_aside" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-3"  id="section_left_navbar">
                <section role="navigation">
                    <aside>
                        <nav id="nav_top">
                            <div id="asidebar">
                                <span> {% if request.user.is_authenticated %}<i  class="fas fa-angle-right" aria-hidden="true" >
                                </i>{% endif %}</span>
                            </div>

                            <div id="d_aside_tutorial">
                                <div id="d_tutorial_section">
                                    <ul  class="w-100 list-group select_tutorial" id="selecFormAutori">
                                        {% for t in users %}
                                        <li  onclick="show(this.innerHTML)" id="option_autori_{{t.user.username}}"
                                        value="{{t.user.username}}" class="list-group-item option_autori " >{{t.user.username}}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div id="d_inside_tutorial_section">
                                <ul  class="list-group" id="ul_in_selecFormAutori">
                                </ul>
                            </div>
                        </div>

                        <script>
                        $(document).ready(function(){
                            var a = "{{tutorial.category}}";
                            setActiveHeaderMenu(a);
                        });
                        </script>

                        <script>
                        var name;
                        var exist=0
                        function show(e){
                            getIndex(e);
                        }
                        function getIndex(e) {
                            name=e
                            var width=window.innerWidth;
                            var autore=e.replace(/\s/g,'');
                            var tag=document.getElementById('ul_in_selecFormAutori');
                            if (exist==0){
                                console.log("exist=0")
                                {% for tut in tutorial_all %}
                                toCompare="{{tut.author.user.username}}";
                                toCompare=toCompare.replace(/\s/g,'');
                                if (autore.localeCompare(toCompare)==0){
                                    var optio = document.createElement('LI');
                                    optio.setAttribute("id","tutorial_id_{{tut.id}}")
                                    //$('#ul_in_selecFormAutori').css("display","block")
                                    title="{{tut.slug}}";
                                    base=width/2;
                                    base=base.toString()+"px";
                                    var url=title
                                    optio.setAttribute("class","list-group-item li_tutorials");
                                    optio.setAttribute("onclick","window.open("+"\""+url+"\""+")");
                                    optio.setAttribute('style','font-size:1rem');
                                    optio.setAttribute('style','width:'+base.toString());
                                    //optio.value=url;
                                    optio.innerHTML = title;
                                    tag.appendChild(optio);
                                    $('#d_inside_tutorial_section').css("display","block")
                                    let x=(parseInt($('#selecFormAutori').css('width')))/10;
                                    $('#d_inside_tutorial_section').animate({'left': x },400)
                                    exist=1
                                }
                                else{
                                    exist=0
                                }
                                {% endfor %}
                            }
                        }
                        </script>

                        <div  id="d_divaside" class="d_divaside">
                            <div id="d_in_divaside" class="list-group"  role="tablist">
                                {% for c in categorie %}
                                <div id="d_{{c.title}}_menu" class="list-group">
                                    {% for a in c.tutorials.all %}
                                    <a id="a_tutorial_{{a.title}}" class="list-group-item list-group-item-action" href="/{{a.slug}}">
                                        <span id="s_leftmenu1" >{{a.title}}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </nav>

                </aside>
            </section>

        </div>

        <div role="main" class="col-12 col-sm-12 col-md-6">
            <article>
                <header>
                    <div class="row mb-5">
                        <div id="divuserphoto" class="col-12 col-sm-12 col-md-12">
                            <img id="imguser" class="img-fluid rounded" src='{% block photo %}{% endblock photo %}'
                            alt="non posso caricare immaggini">
                            <a id="aTitle" href="{{tutorial.slug}}">{% block tut_title %}
                                <span id="s_title">{% block category %}{{tutorial.category.category}}
                                    {%endblock%}
                                </span>
                                &nbsp-&nbsp
                                <span id="s_title_2" >{%block t %}{{tutorial.title}}{%endblock t %}{% endblock tut_title %} </span></a>
                                <div>
                                    <span  id="s_nome_autore">{{autore}}</span>
                                    <span  class="s_title">{{tutorial.publish}}</span>
                                </div>
                            </div>
                        </div>
                        </header>
                <div class="col-12 col-sm-12 col-md-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </article>
        </div>





        <script src="{% static 'js/jquery.bs.gdpr.cookies.js' %}"></script>
        <script>$(document).ready(function() {
            $('body').bsgdprcookies();
        });</script>
        <div id="divbooldog" class="col-md-3">
            <div class="row">
                <div class="col-12 text-end">
                    {% block download %}
                    <a  href="/booldog" target="_blank "id="a_download"><div class=
                        "booldog"><span class="badgebooldog"><i class=" fas fa-comment-dots"></i></span><span class="spanbooldog">BoolDog</span></div>
                        <span class="booldoginfo">Per i commenti. Usalo sul tuo Sito Web !</span></a>
                        {% endblock %}
                    </div>
                    <div class="col-12" id="divAmazonBanner">
                        <iframe class="my-auto"style="position:fixed;bottom:-6%;"src="https://rcm-eu.amazon-adsystem.com/e/cm?o=29&p=13&l=ur1&category=amazongeneric&banner=0JCKN21AT6QNZ64D8E02&f=ifr&linkID=237424dafae56723beaa911da091e4ad&t=breakingweb-21&tracking_id=breakingweb-21" width="468" height="120" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" align=right sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block footer %}{% include '_footer.html' %}{% endblock %}
<div class="row">
    <iframe onload="iframeLoaded()" id="booldogFrame"  style="margin-bottom:0;overflow-y:hidden;" src='https://127.0.0.1:8000/booldog?url=https://127.0.0.1:9000'></iframe>
</div>
<script>function iframeLoaded(){
    var iframe=document.getElementById('booldogFrame');
    iframe.height = "";
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    }
    </script>
</body>
</html>
    </body>
    </html>
