{% extends 'base2.html' %}
{% load static %}


{% block title %}Creare Un Ambiente Virtuale Python{% endblock title %}
  {% block keywords %}creare,inizializzare,ambiente,virtuale,python,django,pip{% endblock keywords %}
  {% block description %}Creare Un Ambiente Virtuale Python Per Django{% endblock description%}







     {% block photo %}{%static "/images/mestesso.jpg"%}{% endblock photo %}
     {% block tut_title %}
     <span class="badge badge-pill badge-light" style="width:100%;display:inline-block!important;margin:0 auto!important;">


       <span id="s_title_2" style="display:inline-block;color:black;font-weight:bold;">Creare Un Ambinete Virtuale Python</span></span>
       {% endblock tut_title %}

       {% block content %}

             <p style="text-align:center;" id="p_content">
        <span  class="badge badge-info s_title_paragraph">Assicuriamoci di aver installato Python sul sistema</span><br><br>
        </p>
       {% endblock content %}
