{% extends 'base2.html' %}
{% load static %}


{% block title %}Linux - Aggiornamento Automatico Dei Browser {% endblock title %}
  {% block keywords %}Linux,aggiornamento,automatico,browsers,chrome,firefox,opera,chromium,browser,avvio,sistema,script,shell,terminale,eseguibile{% endblock keywords %}
  {% block description %}Aggiornamento automatico di tutti i browsers su linux , all' avvio di sistema {% endblock description%}







     {% block photo %}{%static "/images/mestesso.jpg"%}{% endblock photo %}
     {% block tut_title %}



     <span class="badge badge-pill badge-light" style="width:100%;display:inline-block!important;margin:0 auto!important;">
     <span id="s_title_2" style="display:inline-block;color:black;font-weight:bold;">Linux - Script Per Aggiornare I Browsers All' Avvio</span></span>
       {% endblock tut_title %}

            {% block content %}
            <br><br>
            <mark><h2 style="text-align:center;">Premessa</h2></mark>
            Le principali minacce sui Pc trovano accesso al sistema grazie ai Browsers: Chrome , firefox ecc... .
            che sono programmi che comunicano continuamente con la rete , perchè i Browsers aprono
            varie porte di comunicazione : 80 , 443 , 1080 , le porte ftp , le porte per il protocollo smtp
            della posta elettronica , e si potrebbe continuare a lungo con la lista . Da ciò nasce il bisogno
            fondamentale di avere il browser sempre aggiornato . Un' altra cosa che rende estremamente utile
            l' aggiornamento automatico del browser è il fatto che è il software che
            più di ogni altro riceve modifiche
            quasi giornaliere.

        {% endblock %}
